  <template>
  <div class="header" id="home1">
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

  <script>
/* import Header from './components/Header.vue'
  import Menubar from './components/Menubar.vue' 
  import Slider from './components/Slider.vue'
  import Home from './components/Home.vue'
  import Footer from './components/Footer.vue' */

export default {
  /* name: 'app',
    components: {
      Header,
      Menubar,
      Slider,
      Home,
      Footer
    } */
};
</script>

  <style>
</style>
